.editableform,
.editableform div.control-group {
    margin-bottom: 0;
    overflow: auto; 
}

.editable-buttons {
   float: left;  
}

.editable-buttons button {
   margin-left: 7px; 
}

.editableform-loading {
    background: url('img/loading.gif') center center no-repeat;  
    height: 25px;  
}

.editable-inline .editableform-loading {
    background-position: left 5px;      
}

 .editable-error-block {
    max-width: 300px;
    margin: 0;
    clear: both; 
}

.editable-error {
   color: red;  
}

.editable-input {
    vertical-align: top; 
    display: inline-block;
    width: auto; /* bootstrap-responsive has width: 100% that breakes layout */
    float: left;
    padding-bottom: 9px;
}

.editableform textarea {
    height: 150px; /*default height for textarea*/
}

.editableform .editable-date {
    padding: 0; 
    margin: 0;
}