.editable-container {
    max-width: none; /* without this rule poshytip does not stretch */
}  

.editable-container.popover {
/*   width: 300px;*/  /* debug */
    width: auto; /* without this rule popover does not stretch */
}