<p>X-editable has no limitation to backend side, you can write it on any language you prefer.<br> 
    Below are github links to sample projects that can help you to start:</p>
<ul>
    <li><a href="https://github.com/vitalets/x-editable/tree/gh-pages/backend-samples/php" target="_blank">PHP</a></li>
</ul>

<p class="muted"><small>
        Not too many yet.<br>
        If you'd like to share you sample please feel free to send pull request on <code>gh-pages-dev</code> branch.
    </small>
</p>