<p>X-editable has no limitation to backend side, you can write it on any language you prefer.<br> 
    For easy starting have a look on sample projects below:</p>
<ul>
    <li><a href="https://github.com/vitalets/x-editable/tree/gh-pages/backend-samples/php" target="_blank">Pure PHP</a></li>
    <li><a href="https://github.com/vitalets/x-editable/blob/gh-pages/backend-samples/php/laravel-controller.php" target="_blank">Laravel controller</a> <small class="muted">(thanks to <a href="https://github.com/clouddueling">@clouddueling</a>)</small></li>
</ul>

<p class="muted"><small>
        If you'd like to share you sample please feel free to send pull request on <code>gh-pages-dev</code> branch.
    </small>
</p>