<p>Here a short description how it works internally helping you to extend library for your needs.<br>
There are a few classes working together for editable. Base class <b>editableform</b> is form with single input and two buttons. Input can be one of several <b>input types</b> (text, textarea, etc).
Form <b>markup</b> is performed in plain HTML or can be extended by some library (bootstrap, jquery-ui).
<b>editableContainer</b> includes editableform and shows it in <b>popup</b> or <b>inline</b> mode. When popup it can use any container for display (popover, tooltip, etc).
Final class <b>editable</b> binds editableContainer to DOM element storing value and being updated after user submits new value.
</p>
<p style="text-align: center">
<img src="assets/img/diagram.png">
</p>