<p>Some templates are defined globally and affect all editable inputs. You can overwrite it for your needs.</p>

<h4>$.fn.editableform.template</h4>
<p>Form template. Must contain <code>FORM</code> tag and classes <code>.control-group</code>, <code>.editable-input</code>, <code>.editable-buttons</code>, <code>.editable-error-block</code>.<br>
Default value:</p>

{{#source}}
<form class="form-inline editableform">
    <div class="control-group">
         <div><div class="editable-input"></div><div class="editable-buttons"></div></div>
         <div class="editable-error-block"></div>
    </div> 
</form>
{{/source}}

<h4>$.fn.editableform.buttons</h4>
<p>Buttons template. Automatically inserted into <code>.editable-buttons</code>. Must contain classes <code>.editable-submit</code> and <code>.editable-cancel</code>.<br>
Default value:</p>
{{#source}}
<button type="submit" class="editable-submit">ok</button>
<button type="button" class="editable-cancel">cancel</button>
{{/source}}
      
<h4>$.fn.editableform.loading</h4>
<p>Loading DIV template. Default value:</p>
{{#source}}
<div class="editableform-loading"></div>
{{/source}}
