<p>Some templates are defined globally and affect all editable inputs. You can overwrite it for your needs.</p>

<h4>$.fn.editableform.template</h4>
<p>Form template. Must contain <code>FORM</code>, <code>DIV.control-group</code> and two buttons. Default value:</p>

{{#source}}
<form class="form-inline editableform">
    <div class="control-group">
       &nbsp;<button type="submit">Ok</button>&nbsp;<button type="button">Cancel</button>
    </div>
    <div class="editable-error-block"></div>
</form>
{{/source}}
      
<h4>$.fn.editableform.loading</h4>
<p>Loading DIV template. Default value:</p>
{{#source}}
<div class="editableform-loading"></div>
{{/source}}
