<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="index.html" class="brand"><img style="position: relative; right: -16px; margin-top: -21px" src="assets/img/santa_hat_24.png">{{project.name}}</a>
            <!--<a href="index.html" class="brand"><img style="position: relative; right: -13px; margin-top: -23px" src="assets/img/santa_hat_16.png">{{project.name}}</a>-->
            <ul class="nav">
                <li{{#if_eq page "index"}} class="active"{{/if_eq}}><a href="index.html">Home</a></li>
                <li><a target="_blank" href="demo.html">Demo</a></li>
                <li{{#if_eq page "docs"}} class="active"{{/if_eq}}><a href="docs.html">Docs</a></li>
                <li{{#if_eq page "faq"}} class="active"{{/if_eq}}><a href="faq.html">FAQ</a></li>
                <li><a target="_blank" href="{{project.homepage}}">GitHub</a></li>
            </ul>
           
            <div style="padding-top: 10px;">
            {{>social_buttons}}   
            </div>
 
        </div>  
    </div>
</div> 
