<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="index.html" class="brand">{{project.name}}</a>
            <ul class="nav">
                <li{{#if_eq page "index"}} class="active"{{/if_eq}}><a href="index.html">Home</a></li>
                <li><a target="_blank" href="demo-bs3.html">Demo</a></li>
                <li{{#if_eq page "docs"}} class="active"{{/if_eq}}><a href="docs.html">Docs</a></li>
                <li{{#if_eq page "faq"}} class="active"{{/if_eq}}><a href="faq.html">FAQ</a></li>
                <li><a href="{{project.homepage}}">GitHub</a></li>
            </ul>
           
            <div style="padding-top: 10px;">
            {{>social_buttons}}   
            </div>
 
        </div>  
    </div>
</div> 
