body {
/*    padding-top: 60px;*/
    padding-bottom: 40px;
}


.centered {
    text-align: center;
}

.hero-unit {
    margin-top: 60px;
    padding: 40px;  
}

section {
    padding-top: 85px;
}

.table td ul {
   padding-bottom: 0; 
}

.cdn label {
    display: inline;
    vertical-align: middle;
    margin-left: 20px;
}


.cdn input[type="radio"] {
    margin: 0 4px 0 0;
}

.cdn pre {
    margin: 0;
}